@model IEnumerable<Product>

@{
    ViewData["Title"] = "Index";
}

<h4>All Products</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryId)
                </td>
                <td>
                    <a asp-area="" asp-controller="Product" asp-action="Edit" asp-route-id="@item.id" class="btn btn-sm btn-warning">Edit </a> |   
                    <input type="button" onclick="Delete(@item.id)" value="Delete" class="btn btn-danger btn-sm" />
                </td>                
            </tr>
        }
    </tbody>
</table>
<p>
    <a asp-action="Create">Create New</a>
</p>

<script>
    function Delete(id) {
        $.ajax({
            type: "POST",
            url: "/Product/Delete/" + id,
            success: function () {
                $('#a_' + id).fadeOut();
            }
        });
    }
</script>



