@model IEnumerable<MarketPlace.Host.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h4>Categories</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a asp-area="" asp-action="Edit" asp-route-id="@item.id" class="btn btn-sm btn-dark">Edit </a> |
                    <a asp-area="" asp-action="Delete" asp-route-id="@item.id" class="btn btn-sm btn-dark">Remove </a>
                </td>
            </tr>
        }
    </tbody>
</table>
<p>
    <a asp-action="Create">Create New</a>
</p>



